<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.dummy.datachannel_wrapper</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>UUID</key>
    <string>50BDE576-3BD8-38EC-A1F6-EB53BAE8855E
ED8F9B80-3902-3252-A405-33E7546BBA37</string>
</dict>
</plist>
